<!DOCTYPE html>
<html>

<head>
    <title>Edit Content</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Edit Content</h1>
    <p>Modify the Heading and Content here</p>
    <hr>
    <form method="POST" action="/edit">
        <label>Heading</label>
        <input type="text" name="heading" />
        <br><br>
        <label>Content</label>
        <input type="text" name="content" />
        <br><br>
        <input type="submit" value="Update Data" />
    </form>
</body>

</html>