<!DOCTYPE html>
<html>
<head>
  <title><%= pageData.heading %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
  <body>
    <h1><%= pageData.heading %></h1>
    <p><%= pageData.content %></p>
  </body>
</html>